{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set menu = 'newadmin_messagesc' %}

{% block main %}
  <div class="well well-sm">
   <table id="student-enrollstat-table" class="table table-striped table-hover" data-search-form="#school-searchSt-form">
    {{ web_macro.flash_messages() }}
  <thead>
    <tr>
      <th>{{'学校中文名'|trans}}</th>
      <th>{{'学校类型'|trans}}</th>
      {#<th>{{'学校创办时间'|trans}}</th>#}
      <th>{{'学校地址'|trans}}</th>
      <th>{{'学校或机构'|trans}}</th>
      <th colspan="4" align="center">{{'操作'|trans}}</th>
    </tr>
  </thead>
  <tbody>
    {% if schools %}
      {% for school in schools %}
        <tr>
          <td>{{ school.chineseName|default('') }}</td>
          <td>{{ school.type|default('') }}</td>
          {#<td>{{ school.startTime is empty ? "" : school.startTime|date("Y-m-d ") }}</td>#}
          <td>{{ school.schoolAddress|slice(0, 12)}}</td>
          <td>
            {% if school.institutionsType == 0 %}
             {{ '学校'|default('') }}</td>
            {% else %}
             {{ '培训机构'|default('') }}</td>
            {% endif %}
            </td>
            <td><a href="#modal" data-toggle="modal" data-url="{{ path('newadmin_school_show', {id:school.id}) }}" class="btn btn-default btn-sm">查看</a></td>
            <td><a href="{{ path('newadmin_showSchoolAuth',{school_id:school.id}) }}" data-toggle="modal" data-url="" class="btn btn-default btn-sm"  target="_blank">查看上传认证图片</a></td>
            {% if school.status == 1 %}
            <td><a href="{{ path('newadmin_schoolAuthorizeTrue', {school_id:school.id}) }}" data-toggle="modal" data-url="" class="btn btn-default btn-sm">授权学校</a></td>
            <td><a href="{{ path('newadmin_schoolAuthorizeFalse', {school_id:school.id}) }}" data-toggle="modal" data-url="" disabled="disabled" class="btn btn-default btn-sm">封禁学校</a></td>
            {% elseif school.status == 0 %}
            <td><a href="{{ path('newadmin_schoolAuthorizeTrue', {school_id:school.id}) }}" data-toggle="modal" data-url="" disabled="disabled" class="btn btn-default btn-sm">授权学校</a></td>
            <td><a href="{{ path('newadmin_schoolAuthorizeFalse', {school_id:school.id}) }}" data-toggle="modal" data-url="" class="btn btn-default btn-sm">封禁学校</a></td>
            {% endif %}
        </tr>
      {% endfor %}
    {% endif %}
  </tbody>
</table>
  </div>

{% endblock %}