{% extends 'TopxiaAdminBundle::new-layout.html.twig' %}

{% set menu = 'newadmin_registersc' %}
{% block title %}添加学校{% endblock %}
{% set script_controller= 'school/add-schools'%} 
{% block main %}
<div class="well well-sm">
<form id="add-schools-form" class="form-horizontal" method="post">
    {% if flag == 1 %}
    <div class="form-group">
        <label class="col-md-2 control-label">添加学校信息</label>
        <div class="col-md-7 controls radios">
            <div class="help-block" style="display:none;"></div>
</div>
</div>
{{ web_macro.flash_messages() }}
{#中文名称#}
<div class="form-group">
    <label class="col-md-2 control-label">{{'中文名称'|trans}}</label>
    <div class="col-md-7 controls radios">
        <input type="text" id="schools_chineseName" name="schools[chineseName]" class="form-control" data-widget-cid="widget-1" data-explain=""
            value="{{ schools.chineseName|default('') }}" />
        <div class="help-block" style="display:none;"></div>
</div>
</div>

{#英文名称#}
<div class="form-group form-forIam-group form-notStudent-group">
    <label class="col-md-2 control-label">{{'英文名称'|trans}}</label>
    <div class="col-md-7 controls">
        <input type="text" id="schools_englishName" name="schools[englishName]" class="form-control" value="{{ schools.englishName|default('') }}"
        />
        <div class="help-block" style="display:none;"></div>
</div>
</div>

{#简称#}
<div class="form-group form-forIam-group form-notStudent-group">
    <label class="col-md-2 control-label">{{'简称'|trans}}</label>
    <div class="col-md-7 controls">
        <input type="text" id="schools_abbreviation" name="schools[abbreviation]" class="form-control" value="{{ schools.abbreviation|default('') }}"
        />
        <div class="help-block" style="display:none;"></div>
</div>
</div>

{#类别#}
<div class="form-group form-forIam-group form-notStudent-group">
    <label class="col-md-2 control-label">{{'类别'|trans}}</label>
    <div class="col-md-7 controls">
        <input type="text" id="schools_type" name="schools[type]" class="form-control" value="{{ schools.type|default('') }}" />
        <div class="help-block" style="display:none;"></div>
</div>
</div>

{#学校地址#}
<div class="form-group form-forIam-group form-notStudent-group">
    <label class="col-md-2 control-label">{{'学校地址'|trans}}</label>
    <div class="col-md-7 controls">
        <input type="text" id="schools_schoolAddress" name="schools[schoolAddress]" class="form-control" value="{{ schools.schoolAddress|default('') }}"
        />
        <div class="help-block" style="display:none;"></div>
</div>
</div>

{#校园人文#}
<div class="form-group">
    <label class="col-md-2 control-label">{{'校园人文'|trans}}</label>
    <div class="col-md-7 controls">
        <textarea name="schools[campusHumanities]" rows="10" id="schools_campusHumanities" class="form-control" data-image-upload-url="{{ path('editor_upload', {token:upload_token('user')}) }}">{{ schools.campusHumanities|default('') }}</textarea>
    </div>
</div>

{#校园风情#}
<div class="form-group form-forIam-group form-notStudent-group">
    <label class="col-md-2 control-label">{{'校园风情'|trans}}</label>
    <div class="col-md-7 controls">
        <textarea name="schools[campusAmorousFeelings]" rows="10" id="schools_campusAmorousFeelings" class="form-control" data-image-upload-url="{{ path('editor_upload', {token:upload_token('user')}) }}">{{ schools.campusAmorousFeelings|default('') }}</textarea>
        <div class="help-block" style="display:none;"></div>
</div>
</div>
{% elseif flag == 2 %}
<div class="form-group">
        <label class="col-md-2 control-label">添加培训机构信息</label>
        <div class="col-md-7 controls radios">
            <div class="help-block" style="display:none;"></div>
</div>
</div>
{{ web_macro.flash_messages() }}
{#中文名称#}
<div class="form-group">
    <label class="col-md-2 control-label">{{'中文名称'|trans}}</label>
    <div class="col-md-7 controls radios">
        <input type="text" id="schools_chineseName" name="schools[chineseName]" class="form-control" data-widget-cid="widget-1" data-explain=""
            value="{{ schools.chineseName|default('') }}" />
        <div class="help-block" style="display:none;"></div>
</div>
</div>

{#英文名称#}
<div class="form-group form-forIam-group form-notStudent-group">
    <label class="col-md-2 control-label">{{'英文名称'|trans}}</label>
    <div class="col-md-7 controls">
        <input type="text" id="schools_englishName" name="schools[englishName]" class="form-control" value="{{ schools.englishName|default('') }}"
        />
        <div class="help-block" style="display:none;"></div>
</div>
</div>

{#简称#}
<div class="form-group form-forIam-group form-notStudent-group">
    <label class="col-md-2 control-label">{{'简称'|trans}}</label>
    <div class="col-md-7 controls">
        <input type="text" id="schools_abbreviation" name="schools[abbreviation]" class="form-control" value="{{ schools.abbreviation|default('') }}"
        />
        <div class="help-block" style="display:none;"></div>
</div>
</div>

{#类别#}
<div class="form-group form-forIam-group form-notStudent-group">
    <label class="col-md-2 control-label">{{'类别'|trans}}</label>
    <div class="col-md-7 controls">
        <input type="text" id="schools_type" name="schools[type]" class="form-control" value="{{ schools.type|default('') }}" />
        <div class="help-block" style="display:none;"></div>
</div>
</div>

{#学校地址#}
<div class="form-group form-forIam-group form-notStudent-group">
    <label class="col-md-2 control-label">{{'学校地址'|trans}}</label>
    <div class="col-md-7 controls">
        <input type="text" id="schools_schoolAddress" name="schools[schoolAddress]" class="form-control" value="{{ schools.schoolAddress|default('') }}"
        />
        <div class="help-block" style="display:none;"></div>
</div>
</div>

{#校园人文#}
<div class="form-group">
    <label class="col-md-2 control-label">{{'校园人文'|trans}}</label>
    <div class="col-md-7 controls">
        <textarea name="schools[campusHumanities]" rows="10" id="schools_campusHumanities" class="form-control" data-image-upload-url="{{ path('editor_upload', {token:upload_token('user')}) }}">{{ schools.campusHumanities|default('') }}</textarea>
    </div>
</div>

{#校园风情#}
<div class="form-group form-forIam-group form-notStudent-group">
    <label class="col-md-2 control-label">{{'校园风情'|trans}}</label>
    <div class="col-md-7 controls">
        <textarea name="schools[campusAmorousFeelings]" rows="10" id="schools_campusAmorousFeelings" class="form-control" data-image-upload-url="{{ path('editor_upload', {token:upload_token('user')}) }}">{{ schools.campusAmorousFeelings|default('') }}</textarea>
        <div class="help-block" style="display:none;"></div>
</div>
</div>

{% endif %}

{#省份#}
<div class="form-group">
    <label for="3" class="col-md-2 control-label">{{'省份'|trans}}</label>
    <div class="col-md-7 controls">
        <select id="schools_province_id" name="schools[province_id]" class="form-control" data-widget-cid="widget-2" data-explain="">
                               {% for pro in provinces %}
                               <option value="{{ pro.id }}">
                                   {{ pro.name|default('') }}
                               </option>
                               {% endfor %}
                            </select>
        <div class="help-block" style="display:none;"></div>
</div>
</div>

{#城市#}
<div class="form-group">
    <label for="3" class="col-md-2 control-label">{{'城市'|trans}}</label>
    <div class="col-md-7 controls">
        <select id="schools_city_id" name="schools[city_id]" class="form-control" data-widget-cid="widget-2" data-explain="">
                               {% for ct in citys %}
                               <option value="{{ct.id }}">
                                   {{ ct.name|default('') }}
                               </option>
                               {% endfor %}
                            </select>
        <div class="help-block" style="display:none;"></div>
</div>
</div>

<div class="row">
    <div class="col-md-7 col-md-offset-2">
        <button id="schools-save-btn" data-submiting-text="{{'正在保存'|trans}}" type="submit" class="btn btn-primary">{{'保存'|trans}}</button>
    </div>
</div>
<input type="hidden" id="schools_id" name="schools[id]" value="{{ schools.id|default('') }}">
<input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
</form>

</div>
{% endblock %}