{% extends 'TopxiaAdminBundle::bootstrap-modal-layout.html.twig' %}

{% block title %}{{'定制课程信息'|trans}}{% endblock %}

{% block body %}

{#<form id="add-paystu-form" role="form" class="form-horizontal" method="post" action="{{ url('newadmin_report', {id:pay.id}) }}">#}
<table class="table table-striped table-condenseda table-bordered">
  <tr>
    <th width="25%">{{'提示信息'|trans}}</th>
    <td width="75%">
      {{ message }}
    </td>
  </tr>
</table>
<div class="row">
        <div class="col-md-7 col-md-offset-2">
            {#<button id="wxstu-save-btn" data-submiting-text="{{'正在保存'|trans}}" type="submit" class="btn btn-primary">{{'提交'|trans}}</button>#}
            {#<a href="javascript:void(0);" class="easyui-linkbutton" conCls="icon-ok" onclick="perSubmit()">保存</a>#}
        </div>
    </div>
    {#<input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}" />#}
{#</form>#}


{% endblock %}

{% block footer %}
  <button type="button" class="btn btn-primary" data-dismiss="modal"><a href="{{ path('newadmin_customization') }}" data-toggle="modal" data-url="" class="btn btn-default btn-sm">{{ '关闭'|trans }}</a></button>
{% endblock %}