{% extends 'TopxiaWebBundle::old-layout.html.twig' %}

{% block keywords %}{{ setting('site.seo_keywords') }}{% endblock %}
{% block description %}{{ setting('site.seo_description') }}{% endblock %}

{% set bodyClass = 'homepage' %}
{% set siteNav = '/' %}
{% set script_controller = 'index' %}
{% set _target_path = path('homepage') %}

{% set currentTheme = current_theme() %}
{% set themeConfig = isEditColor|default(false) ? currentTheme.config : currentTheme.config %}
{% set allConfig = currentTheme.allConfig %}

{#{% set isIndex = true %}
{% set consultDisplay = true %}#}


{% block full_content %}
    {#首页缩略图{% cache 'jianmo/home/top/banner' 600 %}
      {{ block_show('jianmo:home_top_banner') }}
    {% endcache %}#}
  <body>
  	 <script type="text/javascript" src="{{ asset('/../winxin/template/default/statics/js/jquery-1.7.2.min.js')}}"></script>
  	 <style type="text/css">  
        .dropdown-submenu {  
            position: relative;
			
        }  
        .dropdown-submenu > .dropdown-menu {  
            top: 0;  
            left: 100%;  
           
            -webkit-border-radius: 0 6px 6px 6px;  
            -moz-border-radius: 0 6px 6px;  
            border-radius: 0 6px 6px 6px;
			background: rgba(255, 255, 255, 0.7);
        }  
        .dropdown-submenu:hover > .dropdown-menu {  
            display: block;  
        }  
        .dropdown-submenu > a:after {  
            display: block;  
            content: " ";  
            float: right;  
            width: 0;  
            height: 0;  
            border-color: transparent;  
            border-style: solid;  
            border-width: 5px 0 5px 5px;  
            border-left-color: #ccc;  
            margin-top: 5px;  
           
        }  
        .dropdown-submenu:hover > a:after {  
            border-left-color: #fff;  
        }  
        .dropdown-submenu.pull-left {  
            float: none;  
        }  
        .dropdown-submenu.pull-left > .dropdown-menu {  
            
            -webkit-border-radius: 6px 0 6px 6px;  
            -moz-border-radius: 6px 0 6px 6px;  
            border-radius: 6px 0 6px 6px;  
        }
		#digset-list{
			border:0px;
			height:400px;
			width:240px;
		}
		.dropdown-menu > li > a{
			color:#fb081a;
		}
		.dropdown-menu > li{
			font-size:22px;
		}

		{#右下角定制部分#}
		#adver {
				position: absolute;
				right: 50px;
				bottom: 10px;
				z-index: 2;
			}
			
		.num01 {
				width: 300px;
				background-color: white;
				height: 320px;
				font-size: 14px;
				line-height: 40px;
				border: 1px dodgerblue solid;
				padding: 15px;
				margin: 0px;
			}
			
		.num01 form input {
				width: 180px;
				height: 25px;
			}
			
		.num01 .submit {
				color: #FFF;
				font-size: 14px;
				background: #e83227;
				border: 0px;
				height: 40px;
				margin-left: 50px;
				margin-top: 10px;
				cursor: pointer;
			}
    </style>
	{#课程分类#}
	<style type="text/css">

ul,
ol,
li {
	list-style: none;
}


/*Link*/


/*.down_00 ,.down_01 ,.down_02 ,.down_03 ,.down_04 ,.down_05 ,.down_06 {background: url(../img/arrow-right.gif) no-repeat;}*/

/*链接虚线*/


/*左侧菜单*/

.head_top .main .main_01:hover .meun_down {
	display: block
}

.meun_down {
	width: 190px;
	height: 420px;
	left: 0;
	top: 0;
	float: left;
	/*display:none;*/
	position: absolute;
	
}

.meun_down li {
	width: 200px;
	height: 59px;
	padding-left: 60px;
	line-height: 59px;
	font-size: 14px;
	border-bottom: 1px solid #e8e8e8;
	border-left: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
	color: #6d6d6d;
}

{#.down_00 {
	background-color: #fafafa;
	background-position: -6px -39px;
}

.down_01 {
	background-color: #fafafa;
	background-position: -1px -150px;
}

.down_02 {
	background-color: #fafafa;
	background-position: -1px -262px;
}

.down_03 {
	background-color: #fafafa;
	background-position: -1px -372px;
}

.down_04 {
	background-color: #fafafa;
	background-position: -1px -483px;
}

.down_05 {
	background-color: #fafafa;
	background-position: -1px -593px;
}

.down_06 {
	background-color: #fafafa;
	background-position: -1px -705px;
}#}

.down_00:hover {
	background-position: -1px -95px;
}

.down_01:hover {
	background-position: -1px -206px;
}

.down_02:hover {
	background-position: -1px -318px;
}

.down_03:hover {
	background-position: -1px -428px;
}

.down_04:hover {
	background-position: -1px -539px;
}

.down_05:hover {
	background-position: -1px -649px;
}

.down_06:hover {
	background-position: -1px -761px;
}

.meun_down li a:hover {
	color: #e83227;
}

.down_00:hover .down_00_ul {
	display: block
}

.down_01:hover .down_01_ul {
	display: block
}

.down_02:hover .down_02_ul {
	display: block
}

.down_03:hover .down_03_ul {
	display: block
}

.down_04:hover .down_04_ul {
	display: block
}

.down_05:hover .down_05_ul {
	display: block
}

.down_06:hover .down_06_ul {
	display: block
}

.down_00_ul,
.down_01_ul,
.down_02_ul,
.down_03_ul,
.down_04_ul,
.down_05_ul,
.down_06_ul {
	position: absolute;
	border: 1px solid #dbdbdb;
	border-left: 0px solid #fff;
	/*border-left: #fbfbfb 5px solid;*/
	width: 600px;
	min-height: 401px;
	height: auto !important;
	height: 390px;
	overflow: visible;
	display: none;
	background: #ffffff;
	-webkit-box-shadow: #666 0px 0px 3px;
	-moz-box-shadow: #ccc 0px 0px 3px;
	box-shadow: #ccc 4px 2px 3px;
	padding-bottom: 17px;
}

.down_00_ul {
	margin: -59px 0 0 130px;
	*margin: -20px 0 0 64px;
}

.down_01_ul {
	margin: -119px 0 0 130px;
	*margin: -80px 0 0 64px;
}

.down_02_ul {
	margin: -179px 0 0 130px;
	*margin: -140px 0 0 98px;
}

.down_03_ul {
	margin: -239px 0 0 130px;
	*margin: -200px 0 0 98px;
}

.down_04_ul {
	margin: -299px 0 0 130px;
	*margin: -260px 0 0 98px;
}

.down_05_ul {
	margin: -359px 0 0 130px;
	*margin: -320px 0 0 98px;
}

.down_06_ul {
	margin: -419px 0 0 130px;
	*margin: -380px 0 0 98px;
}

.indexmianleft04_a {
	position: absolute;
	z-index: 1;
	left: 100px;
	border: 0;
	width: 57px;
	height: 59px;
}

.down_ul {
	width: 550px;
	height: 49px;
	margin: 0 20px;
	line-height: 49px;
	font-size: 12px;
	border-bottom: 1px solid #f3f3f3
}

.down_ul_a {
	width: 550px;
	margin: 0 20px;
	line-height: 30px;
	font-size: 12px;
}

.span_s {
	color: #ccc;
	margin: 0 10px
}

.f_lh_a {
	min-height: 39px;
	float: left;
}

.span_font_a {
	line-height: 30px !important;
	float: right;
	margin: -39px 0 0 70px;
	width: 471px
}

.span_font_a a {
	float: left;
	min-width: 10px;
	width: auto !important;
	width: 10px;
	overflow: visible;
	white-space: nowrap;
	margin-left:20px;
}

.f_lh {
	min-height: 100px;
	height: auto !important;
	height: 100px;
	overflow: visible;
	float: left;
}

.span_font {
	line-height: 30px !important;
	float: left;
	margin: -100px 0 0 70px;
	width: 471px
}

.span_font a {
	float: left;
	min-width: 70px;
	width: auto !important;
	width: 70px;
	overflow: visible;
	white-space: nowrap;
}

	</style>

	<script type="text/javascript">
			var adverTop; //层距页面顶端距离
			var adverLeft;
			var adverObject; //层对象

			window.onload = function() {
				//alert(Number.isNaN(123));
				adverObject = document.getElementById("adver"); //获得层对象
				if(adverObject.currentStyle) {
					adverTop = parseInt(adverObject.currentStyle.top);
					adverLeft = parseInt(adverObject.currentStyle.left);
				} else {
					adverTop = parseInt(getComputedStyle(adverObject, null).top);
					adverLeft = parseInt(getComputedStyle(adverObject, null).left);
				}
			};
			window.onscroll = function() {
				adverObject.style.top = adverTop + document.documentElement.scrollTop + document.body.scrollTop + "px";
				adverObject.style.left = adverLeft + document.documentElement.scrollLeft + document.body.scrollLeft + "px";
				//alert(adverObject.style.top);
				//alert(adverObject.style.left);
			};
		</script>
   <div class="container">
   		
   		<header class="row">
			<div class="col-md-3"><img src="assets/img/index/tongyanglogo.jpg" /></div>
			<div class="col-md-offset-4 down-10">
				<form action="{{ path('search') }}" method="get" class="form-inline" role="form">
					<div class="form-group">
						<div class="input-group">
							<input class="form-control" type="text" placeholder="Search.." autocomplete="off"  name="q"/>
							<div class="input-group-addon"><button class="glyphicon glyphicon-search"></button></div>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-offset-10">
				
				<div class="row">
					<div class="col-md-12">
						<form action="#" class="form-horizontal" rola="form">
							<div class="form-group">
								<div class="input-group">
									<select class="form-control">
										<option value="切换城市">----切换城市----</option>
											{% for city in citys %}
												<option value="{{city.id}}">{{ city.name|default('') }}</option>
											{% endfor %}
									</select>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="row">
				<div class="col-md-12">
					{% if user and user.id != 0 %}
						<a href="{{ path('newadmin') }}">{{'欢迎您'|trans}}{{ user.nickname|default('')}}</a>|
						<a href="{{ path('logout')}}">{{'注销'|trans}}</a>
					{% else %}
						<a href="{{ path('login_background') }}">{{'会员登录'|trans}}</a>
					{% endif %}
				</div>
				</div>
				<div class="row">
				<div class="col-md-12">收藏夹</div>
				</div>
				
			</div>
		</header>
		<div id="course-digest">
				<div id="course-menu" class="row ">
				
				{# 课程分类部分 #}
				<div id="course-digest-title" class="col-md-3 background-red">
						
						<a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">
							<i class="glyphicon glyphicon-th-large font-color-white  down-10">课程分类</i><span class="caret font-color-white"></span>
						</a>
						<ol id="digset-list" class="col-md-6 dropdown-menu multi-level" role="menu" aria-labelledby="dLabel">
				

				
				<!--下拉分类导航-->
                <div class="meun_down z222">
                    <ul>
                        <li class="down_00"><a href="#F1">{{ list[0].name|default('') }}</a>
                            <div class="down_00_ul">
								<div class="down_ul_a f12 bb1_a pt10 h ov">
                                    <span class="fl fb600 w80 f_lh_a ">{{ list[0].name|default('') }}</span>
                                    <span class="span_font_a">
					{% if list %}
					{% set preLevel = 1 %}
					{% for level in list %}
						{% if level.next !=0 %}
						{% if level.level == 1 %}
									</span>                                    
								</div>							
							</div>
                        </li>
                        <li class="down_0{{ preLevel }}"><a href="#">{{ level.name|default('') }}</a>
                            <div class="down_00_ul">
								<div class="down_ul_a f12 bb1_a pt10 h ov">
                                    <span class="fl fb600 w80 f_lh_a ">{{ level.name|default('') }}</span>
                                    <span class="span_font_a">
									{% set preLevel = preLevel+1 %}
						{% elseif level.level == 2 %}
                                    <a href="#" >{{ level.name|default('') }}</a>&nbsp;&nbsp;&nbsp;&nbsp;
						{% endif %}
                                    
						{% endif %}
					{% endfor %}
					{% endif %}
                    </ul>
                </div>



			</div>
			</ol>		
					{# 课程分类结束 #}
					<div id="course-nav" class="col-md-offset-1">
						<i class="glyphicon glyphicon-home"><a href="{{ path('homepage') }}">首页</a></i>
						<i class="glyphicon glyphicon-list-alt"><a href="#A1">文章资讯</a></i>
						<i class="glyphicon glyphicon-gift">学校分类</i>
					</div>
					<div class="col-md-offset-2"><img src="assets/img/index/customer-course.jpg" /><a href="#adver">定制课程</a></div>
			</div>
				<div id="course-adv" class="row  down-10 dropdown">
					<div class="col-md-12">
					<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
	  {% if thumbnails %}
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="{{ thumbnails[0].onePic }}" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Example headline.</h1>
              <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
              <p><a class="btn btn-lg btn-primary" href="{{thumbnails[0].oneUrl}}" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="{{thumbnails[0].twoPic}}" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="{{thumbnails[0].twoUrl}}" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="{{thumbnails[0].threePic}}" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="{{thumbnails[0].threeUrl}}" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->
	{% else %}
		 <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="assets/img/index/adv1.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Example headline.</h1>
              <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->
	{% endif %}
	</div>
				</div>
				<div id="tongyan-policy" class="row down-10 ">
				<div class="col-md-6"><img src="assets/img/index/mywords.jpg" /></div>
				<div id="tongyan-info" class="col-md-6">
					<h3 class="tongyan-title1" id="A1"><strong>文章</strong>资讯→</h3>
					<div class="row">
					<ul type="square" class="col-md-4">
						<li>学校资讯</li>
						{% for sca in SCarticle %}
							<li><span><a class="link-dark" href="{{ path('article_detail', {id:sca.id}) }}">{{ sca.title|slice(0, 10) }}</a></span></li>
						{% endfor %}
					</ul>
					<ul type="square" class="col-md-4">
						<li>推荐资讯</li>
						{% for rea in Rearticle %}
							<li><span><a class="link-dark" href="{{ path('article_detail', {id:rea.id}) }}">{{ rea.title|slice(0, 10) }}</a></span></li>
						{% endfor %}
					</ul>
					<ul type="square" class="col-md-4">
						<li>同言资讯</li>
						{% for tya in TYarticle %}
							<li><span><a class="link-dark" href="{{ path('article_detail', {id:tya.id}) }}">{{ tya.title|slice(0, 10) }}</a></span></li>
						{% endfor %}
					</ul>
					</div>
				</div>
			</div>
				<article id="tongyan-recommend" class="row down-10">
					<header class="col-md-12 channel-header">
						<em>同言推荐</em>
						<em>Recommend</em>
					</header>
					<div id="tongyan-recommend-list" class="col-md-12 down-10" >
						<blockquote class="tongyan-title1"><strong>课程</strong>推荐→</blockquote>
						<div class="course-list">
						<ul class="row">
							
						{% for dfCourses in DFcourses %}
						
						{% if loop.index<=4 %}
						<li>
						<div class="col-lg-3 col-md-4 col-xs-6">
						<div class="course-item">
							<div class="course-img">
								<a href="{{ path('course_show', {id:dfCourses.id}) }}" target="_blank">
									{{ lazy_img(filepath(dfCourses.middlePicture, 'course.png'), 'img-responsive', dfCourses.title) }}
								</a>
							</div>
							<div class="course-info">
								<div class="title">
									<a class="link-dark" href="{{ path('course_show', {id:dfCourses.id}) }}" target="_blank">
										{{ dfCourses.title|default('') }}&nbsp;|&nbsp;{{ dfCourses.chineseName|default('') }}
									</a>
								</div>
								<div class="metas clearfix">
									<span class="num"><i class="es-icon es-icon-people"></i>8</span>
									<span class="comment"><i class="es-icon es-icon-textsms"></i>0</span>
									<span class="course-price-widget">
										<span class="price">
											<span class="text-success">免费咨询</span>  
										</span>
									</span>
								</div>
							</div>
						</div>
						</div>
						</li>
						{% endif %}
						{#<ul class="col-md-3 thumbnail home-channel-block">
							<li><a class="link-dark" href="{{ path('course_show', {id:dfCourses.id}) }}" target="_blank"></a></li>
							<li class="bolder"><a class="link-dark" href="" target="_blank"></a></li>
							<li class="grey"></li>
							<li class="grey"><a class="link-dark" href="{{ path('course_show', {id:dfCourses.id}) }}" target="_blank"><i class="glyphicon glyphicon-time"></i>
							{% set subtitle=dfCourses.subtitle %}
							{% if subtitle|length>10 %}
								{{ subtitle[:10] }}...
							{% else %}
								{{ subtitle|default('') }}
							{% endif %}
							</a></li>
							<li class="red" style="font-size: 18px;" ><i class="glyphicon glyphicon-heart-empty"></i>免费咨询</li>
						</ul>#}
						{% endfor %}
						</ul>
						</div>
					</div>
				</article>
				<article id="tongyan-school-recommend" class="row down-10">
					<div id="tongyan-recommend-list" class="col-md-12 down-10" >
					<blockquote class="tongyan-title1"><strong>名校</strong>推荐→</blockquote>
					<div class="course-list">
					<div class="row">
					{% for schools in Schools %}
						<div class="col-lg-3 col-md-4 col-xs-6">
						<div class="course-item">
							<div class="course-img">
								<a href="{{ path('homepage_forward_school', {id:schools.id}) }}" target="_blank">
									{{ lazy_img(filepath(schools.logo, 'school.png'), 'img-responsive', schools.id|default('')) }}
								</a>
							</div>
						</div>
						</div>
						{#<ul class="col-md-3 thumbnail home-channel-block">
						<li><a class="link-dark" href="{{ path('homepage_forward_school', {id:schools.id}) }}">{{ lazy_img(filepath(schools.largePicture, 'course.png'), 'img-responsive', schools.id|default('')) }}</a></li>
						</ul>#}
					{% endfor %}
					</div>
					</div>
				</article>
				<article id="tongyan-teacher-recommend" class="row down-10">
				<div id="tongyan-recommend-list" class="col-md-12  down-10" >
				<blockquote class="tongyan-title1"><strong>名师</strong>推荐→</blockquote>
				<div class="course-list">
				<div class="row">
					{% for teachers in Teachers %}
					<div class="col-lg-3 col-md-4 col-xs-6">
						<div class="course-item">
							<div class="course-img teacher-img">
								<a href="{{ path('user_show', {id:teachers.id}) }}" target="_blank">
									{{ lazy_img(filepath(teachers.mediumAvatar, 'course.png'), 'img-circle', teachers.title|default('')) }}
								</a>
							</div>
							<div class="course-info">
								<div class="title">
									<a class="link-dark" href="{{ path('user_show', {id:teachers.id}) }}" target="_blank">
										{% set subtitle=teachers.title %}
										{% if subtitle|length>10 %}
											{{ subtitle[:10] }}...
										{% else %}
											{{ subtitle|default('') }}
										{% endif %}
									</a>
								</div>
								<div class="metas clearfix">
									<span class="num"><i class="es-icon es-icon-people"></i>8</span>
									<span class="comment"><i class="es-icon es-icon-textsms"></i>0</span>
									<span class="course-price-widget">
										<span class="price">
											<span class="text-success">免费咨询</span>  
										</span>
									</span>
								</div>
							</div>
						</div>
						</div>
					{#<ul class="col-md-2 thumbnail home-channel-block">
						<li><a class="link-dark" href="{{ path('user_show', {id:teachers.id}) }}">{{ lazy_img(filepath(teachers.mediumAvatar, 'course.png'), 'img-circle', teachers.title|default('')) }}</a></li>
						<li class="grey"><a class="link-dark" href="{{ path('user_show', {id:teachers.id}) }}"><em class="black">{{ teachers.nickname|default('') }}</em>&nbsp;</a></li>
						<li class="grey"><a class="link-dark" href="{{ path('user_show', {id:teachers.id}) }}"><i class="glyphicon glyphicon-time"></i>
						{% set subtitle=teachers.title %}
						{% if subtitle|length>10 %}
							{{ subtitle[:10] }}...
						{% else %}
							{{ subtitle|default('') }}
						{% endif %}
						</a></li>
						<li class="red" style="font-size: 18px;" ><i class="glyphicon glyphicon-heart-empty"></i>免费咨询</li>
					</ul>#}
					{% endfor %}
				</div>
				</div>
				</div>
				</div>
				</article>
				<article id="your-choice" class="row down-10">
					<header class="col-md-12 channel-header">
						<em>你来选择</em>
						<em>Choice</em>
					</header>
						<div id="choice-menu" class="col-md-12 flex-box">
							<a href="" onclick="cha(0);"><div><i class="glyphicon glyphicon-pencil red"></i>初中生</div></a>
							<a href="" onclick="cha(1);"><div><i class="glyphicon glyphicon-book red"></i>高中生</div></a>
							<a href="" onclick="cha(2);"><div><i class="glyphicon glyphicon-bookmark red"></i>大学生</div></a>
							<a href="" onclick="cha(3);"><div><i class="glyphicon glyphicon-tags red"></i>职场人员</div></a>
						</div>
					<script>
						var divs=document.querySelectorAll("#choice-menu div");
						for(var i=0;i<divs.length;i++){
							divs[i].onmouseout=function(){
								this.firstChild.style.color="#e83227";
							}
							divs[i].onmouseover=function(){
								this.firstChild.style.color="#fff";
							}
						}
					</script>
					<div id="educational-list" class="col-md-12 down-10">
						
						<blockquote  id="F1">学历文凭</blockquote>
						<div class="course-list">
						<div class="row">
						{% for pcCourses in PCcourses %}
						<div class="col-lg-3 col-md-4 col-xs-6">
						<div class="course-item">
							<div class="course-img">
								<a href="{{ path('course_show', {id:pcCourses.id}) }}" target="_blank">
									{{ lazy_img(filepath(pcCourses.middlePicture, 'course.png'), 'img-responsive', pcCourses.title) }}
								</a>
							</div>
							<div class="course-info">
								<div class="title">
									<a class="link-dark" href="{{ path('course_show', {id:pcCourses.id}) }}" target="_blank">
										{{ pcCourses.title|default('') }}&nbsp;|&nbsp;{{ pcCourses.chineseName|default('') }}
									</a>
								</div>
								<div class="metas clearfix">
									<span class="num"><i class="es-icon es-icon-people"></i>8</span>
									<span class="comment"><i class="es-icon es-icon-textsms"></i>0</span>
									<span class="course-price-widget">
										<span class="price">
											<span class="text-success">免费咨询</span>  
										</span>
									</span>
								</div>
							</div>
						</div>
						</div>
						{#<ul class="col-md-3 thumbnail home-channel-block">
							<li class="down-10"><a class="link-dark" href="{{ path('course_show', {id:pcCourses.id}) }}" target="_blank">{{ lazy_img(filepath(pcCourses.middlePicture, 'course.png'), 'img-responsive', pcCourses.title) }}</a></li>
							<li class="bolder"><a class="link-dark" href="{{ path('course_show', {id:pcCourses.id}) }}" target="_blank">{{ pcCourses.title|default('') }}</a></li>
							<li class="grey">{{ pcCourses.chineseName|default('') }}</li>
							<li class="grey"><i class="glyphicon glyphicon-time"></i><a class="link-dark" href="{{ path('course_show', {id:pcCourses.id}) }}" target="_blank">
							
							{% set subtitle=pcCourses.subtitle %}
							{% if subtitle|length>10 %}
								{{ subtitle[:10] }}...
							{% else %}
								{{ subtitle|default('') }}
							{% endif %}
							</a></li>
							<!--<li class="red" style="font-size: 18px;" ><i class="glyphicon glyphicon-heart-empty"></i>免费咨询</li>-->
						
						</ul>#}
						{% endfor %}
						</div>
						</div>
					</div>

					<div id="educational-list" class="col-md-12  down-10">
						
						<blockquote >职业技能</blockquote>
						<div class="course-list">
						<div class="row">
						{% for vsCourses in VScourses %}
						<div class="col-lg-3 col-md-4 col-xs-6">
						<div class="course-item">
							<div class="course-img">
								<a href="{{ path('course_show', {id:vsCourses.id}) }}" target="_blank">
									{{ lazy_img(filepath(vsCourses.middlePicture, 'course.png'), 'img-responsive', vsCourses.title) }}
								</a>
							</div>
							<div class="course-info">
								<div class="title">
									<a class="link-dark" href="{{ path('course_show', {id:vsCourses.id}) }}" target="_blank">
										{{ vsCourses.title|default('') }}&nbsp;|&nbsp;{{ vsCourses.chineseName|default('') }}
									</a>
								</div>
								<div class="metas clearfix">
									<span class="num"><i class="es-icon es-icon-people"></i>8</span>
									<span class="comment"><i class="es-icon es-icon-textsms"></i>0</span>
									<span class="course-price-widget">
										<span class="price">
											<span class="text-success">免费咨询</span>  
										</span>
									</span>
								</div>
							</div>
						</div>
						</div>
						{#<ul class="col-md-3 thumbnail home-channel-block">
							<li class="down-10"><a class="link-dark" href="{{ path('course_show', {id:vsCourses.id}) }}" target="_blank">{{ lazy_img(filepath(vsCourses.middlePicture, 'course.png'), 'img-responsive', vsCourses.title) }}</a></li>
							<li class="bolder"><a class="link-dark" href="{{ path('course_show', {id:vsCourses.id}) }}" target="_blank">{{ vsCourses.title|default('') }}</a></li>
							<li class="grey">{{ vsCourses.chineseName|default('') }}</li>
							<li class="grey"><i class="glyphicon glyphicon-time"></i><a class="link-dark" href="{{ path('course_show', {id:vsCourses.id}) }}" target="_blank">
							{% set subtitle=vsCourses.subtitle %}
							{% if subtitle|length>10 %}
								{{ subtitle[:10] }}...
							{% else %}
								{{ subtitle|default('') }}
							{% endif %}
							</a></li>
							<!--<li class="red" style="font-size: 18px;" ><i class="glyphicon glyphicon-heart-empty"></i>免费咨询</li>-->
						</ul>#}
						{% endfor %}
						</div>
						</div>
					</div>
					<div id="educational-list" class="col-md-12  down-10">
						
						<blockquote id="F2">出国留学</blockquote>
						<div class="course-list">
						<div class="row">
						{% for saCourses in SAcourses %}
						<div class="col-lg-3 col-md-4 col-xs-6">
						<div class="course-item">
							<div class="course-img">
								<a href="{{ path('course_show', {id:saCourses.id}) }}" target="_blank">
									{{ lazy_img(filepath(saCourses.middlePicture, 'course.png'), 'img-responsive', saCourses.title) }}
								</a>
							</div>
							<div class="course-info">
								<div class="title">
									<a class="link-dark" href="{{ path('course_show', {id:saCourses.id}) }}" target="_blank">
										{{ saCourses.title|default('') }}&nbsp;|&nbsp;{{ saCourses.chineseName|default('') }}
									</a>
								</div>
								<div class="metas clearfix">
									<span class="num"><i class="es-icon es-icon-people"></i>8</span>
									<span class="comment"><i class="es-icon es-icon-textsms"></i>0</span>
									<span class="course-price-widget">
										<span class="price">
											<span class="text-success">免费咨询</span>  
										</span>
									</span>
								</div>
							</div>
						</div>
						</div>
						{#<ul class="col-md-3 thumbnail home-channel-block">
							<li class="down-10"><a class="link-dark" href="{{ path('course_show', {id:saCourses.id}) }}" target="_blank">{{ lazy_img(filepath(saCourses.middlePicture, 'course.png'), 'img-responsive', saCourses.title) }}</a></li>
							<li class="bolder"><a class="link-dark" href="{{ path('course_show', {id:saCourses.id}) }}" target="_blank">{{ saCourses.title|default('') }}</a></li>
							<li class="grey">{{ saCourses.chineseName|default('') }}</li>
							<li class="grey"><i class="glyphicon glyphicon-time"></i><a class="link-dark" href="{{ path('course_show', {id:saCourses.id}) }}" target="_blank">
							
							
							{% set subtitle=saCourses.subtitle %}
							{% if subtitle|length>10 %}
								{{ subtitle[:10] }}...
							{% else %}
								{{ subtitle|default('') }}
							{% endif %}
							</a></li>
							<!--<li class="red" style="font-size: 18px;" ><i class="glyphicon glyphicon-heart-empty"></i>免费咨询</li>-->
						</ul>#}
						{% endfor %}
						</div>
						</div>
					</div>
					<div id="educational-list" class="col-md-12  down-10">
						
						<blockquote>课外辅导</blockquote>
						<div class="course-list">
						<div class="row">
					    {% for tuCourses in Tucourses %}
						<div class="col-lg-3 col-md-4 col-xs-6">
						<div class="course-item">
							<div class="course-img">
								<a href="{{ path('course_show', {id:tuCourses.id}) }}" target="_blank">
									{{ lazy_img(filepath(tuCourses.middlePicture, 'course.png'), 'img-responsive', tuCourses.title) }}
								</a>
							</div>
							<div class="course-info">
								<div class="title">
									<a class="link-dark" href="{{ path('course_show', {id:tuCourses.id}) }}" target="_blank">
										{{ tuCourses.title|default('') }}&nbsp;|&nbsp;{{ tuCourses.chineseName|default('') }}
									</a>
								</div>
								<div class="metas clearfix">
									<span class="num"><i class="es-icon es-icon-people"></i>8</span>
									<span class="comment"><i class="es-icon es-icon-textsms"></i>0</span>
									<span class="course-price-widget">
										<span class="price">
											<span class="text-success">免费咨询</span>  
										</span>
									</span>
								</div>
							</div>
						</div>
						</div>
						{#<ul class="col-md-3 thumbnail home-channel-block">
							<li class="down-10"><a class="link-dark" href="{{ path('course_show', {id:tuCourses.id}) }}" target="_blank">{{ lazy_img(filepath(tuCourses.middlePicture, 'course.png'), 'img-responsive', tuCourses.title) }}</a></li>
							<li class="bolder"><a class="link-dark" href="{{ path('course_show', {id:tuCourses.id}) }}" target="_blank">{{ tuCourses.title|default('') }}</a></li>
							<li class="grey">{{ tuCourses.chineseName|default('') }}</li>
							<li class="grey"><i class="glyphicon glyphicon-time"></i><a class="link-dark" href="{{ path('course_show', {id:tuCourses.id}) }}" target="_blank">
							{% set subtitle=tuCourses.subtitle %}
							{% if subtitle|length>10 %}
								{{ subtitle[:10] }}...
							{% else %}
								{{ subtitle|default('') }}
							{% endif %}
							
							</a></li>
							<!--<li class="red" style="font-size: 18px;" ><i class="glyphicon glyphicon-heart-empty"></i>免费咨询</li>-->
						</ul>#}
						{% endfor %}
						</div>
						</div>
					</div>
					<div id="educational-list" class="col-md-12  down-10">
						
						<blockquote id="F3">才艺专长</blockquote>
						<div class="course-list">
						<div class="row">
						{% for cyCourses in CYcourses %}
						<div class="col-lg-3 col-md-4 col-xs-6">
						<div class="course-item">
							<div class="course-img">
								<a href="{{ path('course_show', {id:cyCourses.id}) }}" target="_blank">
									{{ lazy_img(filepath(cyCourses.middlePicture, 'course.png'), 'img-responsive', cyCourses.title) }}
								</a>
							</div>
							<div class="course-info">
								<div class="title">
									<a class="link-dark" href="{{ path('course_show', {id:cyCourses.id}) }}" target="_blank">
										{{ cyCourses.title|default('') }}&nbsp;|&nbsp;{{ cyCourses.chineseName|default('') }}
									</a>
								</div>
								<div class="metas clearfix">
									<span class="num"><i class="es-icon es-icon-people"></i>8</span>
									<span class="comment"><i class="es-icon es-icon-textsms"></i>0</span>
									<span class="course-price-widget">
										<span class="price">
											<span class="text-success">免费咨询</span>  
										</span>
									</span>
								</div>
							</div>
						</div>
						</div>
						{#{% if loop.index<=4 %}
						<ul class="col-md-3 thumbnail home-channel-block">
							<li class="down-10">
							<a class="link-dark" href="{{ path('course_show', {id:vsCourses.id}) }}" target="_blank">{{ lazy_img(filepath(vsCourses.middlePicture, 'course.png'), 'img-responsive', vsCourses.title) }}</a></li>
							<li class="bolder"><a class="link-dark" href="{{ path('course_show', {id:vsCourses.id}) }}" target="_blank">{{ vsCourses.title|default('') }}</a></li>
							<li class="grey">{{ vsCourses.chineseName|default('') }}</li>
							<li class="grey"><i class="glyphicon glyphicon-time"></i><a class="link-dark" href="{{ path('course_show', {id:vsCourses.id}) }}" target="_blank">
							{% set subtitle=vsCourses.subtitle %}
							{% if subtitle|length>10 %}
								{{ subtitle[:10] }}...
							{% else %}
								{{ subtitle|default('') }}
							{% endif %}
							</a></li>
							<!--<li class="red" style="font-size: 18px;" ><i class="glyphicon glyphicon-heart-empty"></i>免费咨询</li>-->
						</ul>
						{% endif %}#}
						{% endfor %}
						</div>
						</div>
					</div>
				</article>
			</div>
			{#定制课程部分#}
			<div id="adver" class="col-xs-2">
				<div class="num01">
				<form action="{{ path('person_customized') }}" method="post">
					<h2>定制课程</h2>
					<label for="one">想学什么</label>&nbsp;<input type="text" name="student[courseName]" id="one" placeholder="请输入您想学的专业" required="required"/><br /> 
					<label for="two">所在城市</label>&nbsp;<input type="text" name="student[cityName]" id="two" placeholder="请输入您所在的城市" required="required" /><br />
					<label for="three">手机号码</label>&nbsp;<input type="text" name="student[phone]" id="three" placeholder="请输入您的手机号码" required="required" pattern="/^[1][3][0-9]{9}$/" /><br /> 
					<label for="four">您的姓名</label>&nbsp;<input type="text" name="student[userName]" id="four" placeholder="请输入您的姓名" required="required"/><br />
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
					<input type="submit" value="提交定制" class="submit" />
				</form>
				</div>
			</div>
   		</div>
   {% for config in themeConfig.blocks.left|default([]) %}
      {% set code = config.code %}
      {% set category = config.categoryId|default(0) ? data('Category', {categoryId: config.categoryId})  : null %}
      {% if code == 'friend-link' %}
         {% include 'TopxiaWebBundle:Default:' ~ code ~ '.html.twig' with {friendlyLinks:friendlyLinks} %}
      {% endif %}
    {% endfor %}
    
    <script>
	    var url = "{{ path('homepage') }}";
		function cha(num){
			$.post(url, { populationClassify: num} );
		}
	</script>
	{#<script>
    $(document).ready(function() {
        $( '.mysubmenu' ).hover(
            function(){
              $(this).children('.dropdown-menu1').slideDown(300);
            },
            function(){
              $(this).children('.dropdown-menu1').slideUp(300);
            }
        );
    }); // end ready
    </script>#}
	
	
  </body>
</html>
 
{% endblock %}