{% extends 'TopxiaWebBundle:Settings:layout.html.twig' %}

{% block title %}添加{{ name }}认证信息表{% endblock %}
{% set script_controller='schoolAuth/add-schoolAuth' %}
{% block main %} 
{% block heading %}添加{{ name }}认证信息表{% endblock %} 
{% block body %}

<form id="add-schoolAuth-form" class="form-horizontal" method="post" >

    <div class="form-group">
        <label class="col-md-2 control-label">添加{{ name }}认证信息表</label>
        <div class="col-md-7 controls radios">
            <div class="help-block" style="display:none;"></div>
</div>
</div>
{{ web_macro.flash_messages() }}

{#LOGO#}
<div class="form-group">
    <label class="col-md-2 control-label">{{'LOGO'|trans}}</label>
    <div class="col-md-7 controls radios">
        {#<a href="#modal" data-toggle="modal" data-url="{{path('school_uploadSch', {id: user.id})}}" class="btn btn-default btn-sm">查看</a>#}
        <a href="#modal" data-toggle="modal" data-url="{{ path('school_uploadSch', {id: school_id}) }}" class="btn btn-default btn-sm">查看/上传图片</a>
        <div class="help-block" style="display:none;"></div>
</div>
</div>

{#第一张缩略图#}
<div class="form-group">
    <label class="col-md-2 control-label">{{'第一张缩略图'|trans}}</label>
    <div class="col-md-7 controls radios">
        {#<a href="#modal" data-toggle="modal" data-url="{{path('school_uploadSch', {id: user.id})}}" class="btn btn-default btn-sm">查看</a>#}
        <a href="#modal" data-toggle="modal" data-url="{{ path('school_uploadOne', {id: school_id}) }}" class="btn btn-default btn-sm">查看/上传图片</a>
        <div class="help-block" style="display:none;"></div>
</div>
</div>

{#第二张缩略图#}
<div class="form-group">
    <label class="col-md-2 control-label">{{'第二张缩略图'|trans}}</label>
    <div class="col-md-7 controls radios">
        {#<a href="#modal" data-toggle="modal" data-url="{{path('school_uploadSch', {id: user.id})}}" class="btn btn-default btn-sm">查看</a>#}
        <a href="#modal" data-toggle="modal" data-url="{{ path('school_uploadTwo', {id: school_id}) }}" class="btn btn-default btn-sm">查看/上传图片</a>
        <div class="help-block" style="display:none;"></div>
</div>
</div>

{#第三张缩略图#}
<div class="form-group">
    <label class="col-md-2 control-label">{{'第三张缩略图'|trans}}</label>
    <div class="col-md-7 controls radios">
        {#<a href="#modal" data-toggle="modal" data-url="{{path('school_uploadSch', {id: user.id})}}" class="btn btn-default btn-sm">查看</a>#}
        <a href="#modal" data-toggle="modal" data-url="{{ path('school_uploadThree', {id: school_id}) }}" class="btn btn-default btn-sm">查看/上传图片</a>
        <div class="help-block" style="display:none;"></div>
</div>
</div>

{% if flag == 1 %}

{#民办非企业登记证书#}
<div class="form-group">
    <label class="col-md-2 control-label">{{'民办非企业登记证书'|trans}}</label>
    <div class="col-md-7 controls radios">
        {#<a href="#modal" data-toggle="modal" data-url="{{path('newadmin_school_uploadCer', {id: user.id})}}" class="btn btn-default btn-sm">查看</a>#}
        <a href="#modal" data-toggle="modal" data-url="{{ path('school_uploadCer', {id: school_id}) }}" class="btn btn-default btn-sm">查看/上传图片</a>
        <div class="help-block" style="display:none;"></div>
</div>
</div>

{#办学许可证#}
<div class="form-group form-forIam-group form-notStudent-group">
    <label class="col-md-2 control-label">{{'办学许可证'|trans}}</label>
    <div class="col-md-7 controls">
         <a href="#modal" data-toggle="modal" data-url="{{ path('school_uploadLis', {id: school_id}) }}" class="btn btn-default btn-sm">查看/上传图片</a>
        <div class="help-block" style="display:none;"></div>
</div>
</div>

{#收费许可证或收费项目公示#}
<div class="form-group form-forIam-group form-notStudent-group">
    <label class="col-md-2 control-label">{{'收费许可证或收费项目公示'|trans}}</label>
    <div class="col-md-7 controls">
        <a href="#modal" data-toggle="modal" data-url="{{ path('school_uploadPer', {id: school_id}) }}" class="btn btn-default btn-sm">查看/上传图片</a>
        <div class="help-block" style="display:none;"></div>
</div>
</div>

{#年检合格证#}
<div class="form-group form-forIam-group form-notStudent-group">
    <label class="col-md-2 control-label">{{'年检合格证'|trans}}</label>
    <div class="col-md-7 controls">
        <a href="#modal" data-toggle="modal" data-url="{{ path('school_uploadAnn', {id: school_id}) }}" class="btn btn-default btn-sm">查看/上传图片</a>
        <div class="help-block" style="display:none;"></div>
</div>
</div>

{#招生计划审批表#}
<div class="form-group form-forIam-group form-notStudent-group">
    <label class="col-md-2 control-label">{{'招生计划审批表'|trans}}</label>
    <div class="col-md-7 controls">
        <a href="#modal" data-toggle="modal" data-url="{{ path('school_uploadApp', {id: school_id}) }}" class="btn btn-default btn-sm">查看/上传图片</a>
        <div class="help-block" style="display:none;"></div>
</div>
</div>

{#特种专业开办许可证#}
<div class="form-group form-forIam-group form-notStudent-group">
    <label class="col-md-2 control-label">{{'特种专业开办许可证'|trans}}</label>
    <div class="col-md-7 controls">
        <a href="#modal" data-toggle="modal" data-url="{{ path('school_uploadSpe', {id: school_id}) }}" class="btn btn-default btn-sm">查看/上传图片</a>
        <div class="help-block" style="display:none;"></div>
</div>
</div>

{% elseif flag == 2 %}

{#营业执照#}
<div class="form-group form-forIam-group form-notStudent-group">
    <label class="col-md-2 control-label">{{'营业执照'|trans}}</label>
    <div class="col-md-7 controls">
        <a href="#modal" data-toggle="modal" data-url="{{ path('school_uploadBus', {id: school_id}) }}" class="btn btn-default btn-sm">查看/上传图片</a>
        <div class="help-block" style="display:none;"></div>
</div>
</div>

{% endif %}

<div class="row">
    <div class="col-md-7 col-md-offset-2">
        <button id="schoolAuth-save-btn" data-submiting-text="{{'正在保存'|trans}}" type="submit" class="btn btn-primary">{{'保存'|trans}}</button>
    </div>
</div>
<input type="hidden" id="schoolAuth_id" name="schoolAuth[school_id]" value="{{ school_id|default(0) }}">
<input type="hidden" id="schoolAuth_type" name="schoolAuth[type]" value="{{ schoolAuth.type|default(0) }}">
<input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
</form>
<div id="modal" class="modal" ></div>
{% endblock %} {% endblock %}